html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  background: #222;        /* optional, looks nice */
}

#sketch-holder {
  position: relative;
}